nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    height: 5em;
    padding: 0 2em;
    position: sticky;       /* sticky pour rester en haut */
    top: 0;                 /* point d'accroche sticky */
    transition: top 0.3s;
    border-radius: 0 0 8px 8px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    box-shadow: 0px 4px 8px black;
    z-index: 999;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    margin: 0 0.5em;
}

.underline {
    position: absolute;
    bottom: 0;
    height: 100%;
    background: linear-gradient(45deg, #333, #999999);
    border-radius: 4px;
    transition: 0.4s ease;
    z-index: 0;
    width: 0;
    left: 0;
}
