
#carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}


#carousel {
  width: 600px;
  height: 400px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}


#carousel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}


#prevBtn, #nextBtn {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#prevBtn:hover, #nextBtn:hover {
  background-color: #555;
}


#carousel-counter {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

.box_text{
  background-color:#999; 
  border: 1px solid black; 
  padding: 20px; width: 60%; 
  margin: auto; 
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.ProjetText{
  padding: 20px;
  font-size: 1.2em;
}