
body {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  text-align: center;
  max-width:1920px;
  padding: 0 0 1000 0px;
}

.page {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 60px;
}

footer{
    position:fixed;
    width: 100%;
    height: 60px;
    border: 3px solid black; 
    box-shadow: -8px 0px 10px black;
    background-color: #d3d3d3;
    border-radius: 8px 8px 0 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

footer div{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
}